body{
    background-image: url(Gambar/Background.png);
}

nav{
    padding: 0.1rem 2rem;

    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI',sans-serif;
    color: white;
    font-weight: 500;
    padding: 8px 0;
    transition: all;
    transition-duration: 200ms; 
    border-bottom: 1px solid rgb(0, 0, 0);

}
nav ul li a:hover {
    color: rgba(109, 0, 235, 0.792);
    border-bottom: 1px solid rgba(109, 0, 235, 0.792);
}
nav img{
    width: 120px;
    
}

tr td a{
    color: black;
    list-style: none;
    font-weight: 700;
}
tr td a:hover{
    color: rgba(109, 0, 235, 0.792);
}

footer{
    background-color: rgb(52, 52, 54);
    display: flex;
}
footer ul{
    font-family: sans-serif;
    font-weight: 500;
    color:black;
}

h1{
    text-align: center;
    color: #333;
}

.note{
    color: blue;
}